/* Importando a fonte personalizada */
@font-face {
    font-family: "DB";
    src: url("fonts/Cocogoose-Pro-Semilight-trial.ttf") format("opentype"),
         url("fonts/Cocogoose-Pro-Semilight-trial.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

/* Configuração global do body */
body {
    font-family: "DB", sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #000000, #777);
    color: #333;
}

/* Estilização do cabeçalho */
header {
    background: linear-gradient(to bottom, #000000, #777);
    color: #f1f1f1;
    text-align: center;
    padding: 20px;
}

/* Estilização da navegação */
/* Estilizando a navegação */
nav {
    background-color: #222; /* Cor de fundo mais escura */
    padding: 15px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /* Permite que os itens se ajustem em telas menores */
}

nav ul li {
    margin: 10px 15px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

nav ul li a:hover {
    background-color: #555; /* Efeito de hover para destacar */
    transform: scale(1.1); /* Efeito de leve aumento ao passar o mouse */
}


/* Estilização das seções */
section {
    padding: 20px;
    margin: 20px auto;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 900px;
}

section img {
    max-width: 100%;
    border-radius: 8px;
}

h2 {
    color: #333;
    text-align: center;
}

/* Estilização do rodapé */
footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #ffffff;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* Ajustes para imagens específicas */
#base img {
    width: 50%;
    max-width: 300px;
    height: auto;
}

.dragon, .ssj, .ssj2, .ssj3, .ssj4, .ssjg, .ssjb, .ui, .mui, .R {
    height: auto;
}

.dragon, .ssj { width: 200px; }
.ssj2, .ssj4, .ssjg, .ssjb, .ui, .mui { width: 300px; }
.ssj3 { width: 220px; }
.R { width: 250px; }

/* Estilização do botão de voltar */
.botao-voltar {
    color: #ffffff;
    background-color: #000000;
    font-family: "DB", sans-serif;
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.botao-voltar:hover {
    background-color: #333;
}


